<div class="blog-archive">
  <h1>Blog Archive</h1>

  {% assign current_year = "" %}
  {% assign current_month = "" %}

  {% for post in posts %}
    {% assign post_year = post.published_at | slice: 0, 4 %}
    {% assign post_month = post.published_at | slice: 5, 2 %}

    {% if post_year != current_year %}
      {% if current_year != "" %}
        </ul></section>
      {% endif %}
      {% assign current_year = post_year %}
      {% assign current_month = "" %}
      <section class="archive-year">
        <h2>{{ current_year }}</h2>
    {% endif %}

    {% if post_month != current_month %}
      {% if current_month != "" %}
        </ul>
      {% endif %}
      {% assign current_month = post_month %}
      <h3 class="archive-month">
        {% case current_month %}
          {% when "01" %}January
          {% when "02" %}February
          {% when "03" %}March
          {% when "04" %}April
          {% when "05" %}May
          {% when "06" %}June
          {% when "07" %}July
          {% when "08" %}August
          {% when "09" %}September
          {% when "10" %}October
          {% when "11" %}November
          {% when "12" %}December
        {% endcase %}
      </h3>
      <ul class="archive-posts">
    {% endif %}

    <li class="archive-item">
      <a href="/posts/{{ post.id }}">{{ post.title }}</a>
      <span class="post-date">{{ post.published_at }}</span>
      <span class="post-author">{{ post.author }}</span>
    </li>
  {% endfor %}

  {% if posts.size > 0 %}
    </ul></section>
  {% endif %}
</div>
